# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/

# Environnements
.venv/
venv/
djangoEnv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets / env
.env
*.env
.env.*
keycloak.json

# Python / venv
.venv/
venv/
djangoEnv/
__pycache__/
*.pyc

# Django
db.sqlite3

# Node
node_modules/
npm-debug.log*